@import "tailwindcss";

:root {
  font-family: sans-serif;
}

@theme {
  --color-antiflash: #f1f1f1;
  --color-gunmetal: #24222c;
  --color-ocean: #50cb8b;
  --color-mint: #effff7;
}
@custom-variant dark (&:where(.dark, .dark *));
